@keyframes imageShrink {
    0%{
        filter: brightness(0);
        transform: translateX(-65%);
    }
    3%{
        filter: brightness(1);
        transform: translateX(-65%);
    }
    97%{
        transform: translateX(0);
        filter:brightness(1)
    }
    100%{
        transform: translateX(0);
        filter:brightness(0)
    }
}

#LoginPage{
    background-color: wheat;  
    margin: 0;
    border: 0;
    height: calc(100vh - 64px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}

#LoginGraphic{
    grid-column: 1;
    overflow: hidden;
    align-content: center;
}

#LoginGraphic img{
    height: 100%;
    transform: translateX(-65%);
    animation-name: imageShrink;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#LoginForm{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LoginForm div{
    width: 50rem;
    margin-left: 50px;
}

#textInfo{
    justify-content: start;
    margin-bottom: 30px;
    margin-left: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#textInfo h1{
    font-size: 74px;
    font-weight: 100;
    margin-bottom: 10px;
}

#textInfo h1 + p{
    margin-left: 10px;
    font-size: 32px;
    font-weight: 50;
    color: grey;
}

