button{
    width: 15%;
    height: 50px;
    background-color: rgb(240, 207, 145);
    border-color: white;
    border-style: outset;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 525px;
}

button:hover{
  background-color: rgb(250, 226, 180);
}

button:active{
    background-color: rgb(170, 128, 48);
  }